<div *ngIf="todos && connectedUser" class="limiter">

    <div class="container-fluid">
        <div class="row todo-container">

            <div class="col">
                <h4>Current Tasks</h4>
                <div *ngIf="checkEmpty()" class="todo-list">
                    <div class="row nav-todo">
                        <div class="col-8">
                            <div class="main-title">


                                <h5 class="todo-title">Hello {{connectedUser.username}},</h5>
                            </div>

                        </div>

                    </div>
                    <div class="row">

                        <div class="col-10 todo-desc">
                            <p>
                                You still don't have any task to make , enjoy being free!!
                            </p>
                        </div>

                    </div>
                </div>

                <div *ngIf="!checkEmpty()">
                    <div *ngFor="let todo of todos" class="todo-list">
                        <div class="row nav-todo">
                            <div class="col-8">
                                <div class="main-title">
                                    <i *ngIf="todo.state" class="fa fa-check state-icon closed-icon"
                                        aria-hidden="true"></i>

                                    <i *ngIf="!todo.state" class="fas fa-lock-open state-icon open-icon"></i>

                                    <h5 class="todo-title">{{todo.title}}</h5>
                                </div>
                                <p class="display-date">Assigned by <a class="profile-name"
                                        [routerLink]="['/user/profile/',todo.userid._id]">
                                        {{todo.writerid.name+' '+todo.writerid.surname}}</a>
                                    ,{{transformDate(todo.date)}}
                                </p>
                            </div>

                            <div class="col-4 dropdown-control">
                                <div class="dropdown dropdown-button">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="fas fa-cog"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <button class="dropdown-item"
                                            (click)="oneditTodoState(todo._id,false)">Opentask</button>
                                        <button class="dropdown-item" (click)="oneditTodoState(todo._id,true)">End
                                            task</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="row">

                            <div class="col-10 todo-desc">
                                <p>
                                    {{todo.description}}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Edit Todo</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="New title" name="editTitle" id="editTitle"
                        [(ngModel)]="editTitle">
                    <textarea class=" form-control todo-input mx-auto" placeholder="Post your todo description here..."
                        name="editDescription" id="editDescription" [(ngModel)]="editDescription"></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                        (click)="onEditTodo()">Edit</button>

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

</div>